body {
  background-color: #e7eaf6;
}

a {
  color: #38598b;
}

.App-header {
  margin: 20px 0;
}

.App-logo {
  display: block;
  margin: 0 auto;
  max-width: 150px;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}
